---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro." description="This is the description">
	<main>
		<h1>Welcome to <span class="text-gradient">Lastnight</span></h1>
	</main>
</Layout>
